.slider-headline {
    height: 500px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
}

.slider-headline img {
    width: 100%;
    opacity: 0.5;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.slider-headline figure,.slider-headline .img {
    height: 100%;
    display: block;
}

.slider-headline .detail {
    position: absolute;
    left: 0;
    z-index: 99;
    color: #fff;
    top: 50%;
    transform: translate(0,-50%);
    padding: 0 70px;
    font-size: 31px;
    max-width: 50%;
}
.swiper-button-prev,.swiper-button-next {
    background: rgb(0 0 0 / 82%);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.swiper-button-prev:after, .swiper-button-next:after {
    color: #fff;
    font-size: 23px;
}