.header-list {list-style-type: none;margin: 0;gap: 20px;}

.header {
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 30px 0;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #17191b, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #17191b, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.header-list li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease;
}
.header-list li a:hover {
    color: #f00;
 
}